
# Junk 
Thumbs.db

# API-key storage
config.py
__pycache__

# Python Notebook Checkpoints
.ipynb_checkpoints/*

# R metadata
.Rhistory
.RData

# Data incidentally saved in /code
*.csv
*.xlsx
*.txt

# Figures incidentally saved in /code
*.png
*.jpg
*.bmp
*.gif